@import '../variables.scss';

.feedback {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 0 auto 160px;
  max-width: 1170px;

  @include for-size(tablet) {
    position: relative;
    flex-direction: column;
    margin-bottom: 90px;
  }

  @include for-size(phone-only) {
    margin-bottom: 68px;
    align-items: stretch;
  }

  &__preview {
    margin-left: 12px;
    z-index: -1;

    @include for-size(tablet) {
      margin: 0;
      width: 100%;
      & > * {
        display: block;
        object-fit: cover;
        object-position: top;
        height: 100%;
        width: 100%;
      }
    }
    @include for-size(phone-only) {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0 0 -330px;
    padding: 50px;
    background: $body-background-color;
    box-shadow: 0 4px 30px $feedback-item-box-shadow-color;
    border-radius: 5px;

    @include for-size(tablet) {
      margin: 0;
      position: absolute;
      top: 70px;
      left: 45px;
      right: 45px;
    }
    @include for-size(phone-only) {
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 50px 15px;
      box-shadow: none;
      background: $header-nav-link-background;
      text-align: center;
      align-items: stretch;
    }
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;

    @include for-size(tablet) {

    }
  }

  &__text {
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 24px;

    @include for-size(tablet) {
      margin-top: 12px;
    }

    @include for-size(phone-only) {
      margin-top: 19px;
    }
  }

  &__contact {
    display: flex;
    align-content: center;
    gap: 19px;
    margin: 24px 0;

    @include for-size(tablet) {
      margin-bottom: 20px;
    }
    @include for-size(phone-only) {
      flex-direction: column;
      margin: 18px 0 20px;
    }

  }

  &__button {
    min-width: 176px;
    padding: 17px 20px;
    line-height: 16px;

    @include for-size(tablet) {
      min-width: 250px;
    }

    @include for-size(phone-only) {
      min-width: 100%;
    }
  }
}
