@import '../variables.scss';


.footer {
  display: flex;
  max-width: 1153px;
  margin: 0 auto;

  @include for-size(tablet) {
  }

  &__item {
    margin-left: 12px;
    border-right: 1px solid $footer-border-color;
    flex-shrink: 0;
    width: 33.3%;

    &:last-child{
      border-right: none;
    }

    &--travel-list {

  }

    &--corporate-travel{

    }

  }

  &__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  &__travel-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 50px
  }
}
