@import '../variables.scss';

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  &__picture {
    position: absolute;
    z-index: -1;
    top: 99px;
    right: 0;
    left: 0;
    width: 100vw;
  }

  &__title {
    margin-left: 50%;
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    color: $body-background-color;
  }

  &__text {
    margin-left: 50%;
    font-size: 16px;
    line-height: 27px;
    color: $body-background-color;
  }

  &__button {
    margin-left: 50%;
    width: 340px;
  }
}
