@import '../variables.scss';

.modal {
  position: fixed;
  z-index: -100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.is--visible {
    $modalVisible: & !global;
    z-index: 100;
  }

  &__blackout {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 50ms linear;

    &.is-blacked-out {
      opacity: 1;
    }
  }

  &__inner {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 728px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    transform: translateY(50%);
    opacity: 0;
    transition: opacity 100ms linear;
    background: $modal-background-color;


    #{$modalVisible} & {
      opacity: 1;
    }
  }

  &__picture {
    display: block;

    & > * {
      display: block;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 60px 20px;
  }

  &__button-close {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    background: 0;
    cursor: pointer;
    outline: 0;
  }

  &__title {
    margin: 0 0 50px;
    padding: 0;
    font-weight: 600;
    font-size: 25px;
    line-height: 43px;
    text-align: center;

    &--success {
      margin: 179px 164px;
    }
  }

  &__button {
    padding: 18px 40px;
  }

  &__success {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ccc;

    &--show {
      display: block;
    }
  }


}
