@import '../variables.scss';

.places {
  max-width: 1170px;
  margin: 0 auto;

  @include for-size(tablet) {
    text-align: center;
  }

  &__title {
    max-width: 200px;
    margin-top: 200px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    letter-spacing: -1.245px;

    @include for-size(tablet) {
      margin: 81px 0 20px;
      padding: 0;
      max-width: none;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: 0;
    }
    @include for-size(phone-only) {
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    }

  }

  &__decorative-line {
    display: inline-block;
    height: 4px;
    width: 228px;
    background-color: $accent-primary-color;

    @include for-size(tablet) {
      display: none;
    }
  }

  &__text {
    max-width: 350px;
    margin: 24px 0 55px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.466667px;
    color: $places-text-color;

    @include for-size(tablet) {
      text-align: center;
      margin: 20px auto 40px;
      letter-spacing: -0.466667px;
    }
    @include for-size(phone-only) {
      margin: 20px auto;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 60px;
    justify-content: center;
    margin-bottom: 12px;

    @include for-size(tablet) {
      gap: 9px 30px;
      margin-bottom: 73px;
    }

    @include for-size(phone-only) {
      gap: 35px;
      margin: 0 16px 24px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    height: 430px;
    width: 350px;
    text-decoration: none;

    &:hover {
      $placeHover: & !global;
      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(20, 21, 23, 0.6);
      }

    }

    @include for-size(tablet) {
      height: 425px;
      width: 288px;
      margin-bottom: 10px;
    }

    @include for-size(phone-only) {
      width: 100%;
      margin: 0;
    }

    &--last {
      margin-left: 60px;
      @include for-size(tablet) {
        margin-top: 11px;
        margin-left: 0;
      }

      @include for-size(phone-only) {
        margin: 0;
      }
    }
  }

  &__item-preview {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    & > * {
      object-fit: cover;
      object-position: top;
      height: 100%;
      width: 100%;
    }
  }

  &__item-title {
    margin: auto 68px 0;
    padding: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.415px;
    color: $darkest-color;
    background: $body-background-color;

    @include for-size(tablet) {
      margin: auto 37px 0;
    }
  }

  &__item-details {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 264px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 75px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.7);
    text-decoration: none;
    text-align: center;

    #{$placeHover} & {
      display: block;
    }
  }
}
