@import '../variables.scss';

.price {
  display: flex;
  flex-direction: column;
  width: 308px;
  height: 600px;
  padding: 40px 30px 30px;
  border: 1px solid $border-price-color;
  border-radius: 6px;
  background: $body-background-color;

  &:hover {
    $priceHover: & !global;
    box-shadow: inset 0 0 0 2px $accent-primary-color;
    border-color: $accent-primary-color;
  }

  @include for-size(tablet) {
    width: 287px;
    height: auto;
    padding: 0;
    border-radius: 6px 6px 0 0;
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    #{$priceHover} & {
      color: $accent-primary-color;
    }

    @include for-size(tablet) {
      justify-content: center;
      flex-direction: column;
      margin: 30px 20px 0;
    }
  }

  &__title {
    margin: 0;
    padding: 0 22px 0 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-align: right;

    @include for-size(tablet) {
      padding: 0;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 10px;
    }

    &--economical {
      margin-right: 40px;

      @include for-size(tablet) {
        margin-right: 0;
      }
    }
  }

  &__sum {
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
  }

  &__text {
    margin: 38px 0 28px;
    font-size: 16px;
    line-height: 24px;

    @include for-size(tablet) {
      text-align: center;
      margin: 10px 20px;
    }
  }

  &__decorative-line {
    flex-shrink: 0;
    display: block;
    height: 1px;
    background-color: $border-price-color;

    #{$priceHover} & {
      background-color: $accent-primary-color;
    }

    @include for-size(tablet) {
      margin: 0 20px;
    }
  }

  &__options {
    margin: 30px 0 0 0;
    padding: 0;

    @include for-size(tablet) {
      margin: 20px 20px 30px;
    }

    @include for-size(phone-only) {
      margin-bottom: 25px;
    }
  }

  &__option-item {
    margin-bottom: 15px;
    padding-left: 30px;
    align-items: center;
    font-size: 16px;
    line-height: 32px;
    background: url("data:image/svg+xml,%3Csvg width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.614 5.21a1 1 0 01.175 1.404l-7.775 10a1 1 0 01-1.476.112l-4.226-4a1 1 0 111.375-1.452l3.425 3.242 7.098-9.13a1 1 0 011.404-.175z' fill='%23FE7865'/%3E%3C/svg%3E") -3px 6px no-repeat;
    list-style: none;

    #{$priceHover} & {
      background: url("data:image/svg+xml,%3Csvg width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.614 5.21a1 1 0 01.175 1.404l-7.775 10a1 1 0 01-1.476.112l-4.226-4a1 1 0 111.375-1.452l3.425 3.242 7.098-9.13a1 1 0 011.404-.175z' fill='%23141517'/%3E%3C/svg%3E") -3px 6px no-repeat;
    }

    @include for-size(tablet) {
      margin-bottom: 8px;
    }
  }

  &__button {
    margin-top: auto;

    @include for-size(tablet) {
      margin: auto -1px -1px;
    }
  }
}
