$tablet-width: 767px;
$desktop-width: 1150px;
$mobile-width-only: 768px;
$general-width: 1050px;


/*
  @include for-size(phone-only) {
    font-size: 1rem;
  }
*/

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: $mobile-width-only) {
      @content;
    }
  }
  @else if $size == tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }
  @else if $size == desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
  }
}

@mixin retina-size {
  @media (min-resolution: 2dppx) {
    @content;
  }
}
