@import 'media';
@import 'fonts';
@import 'variables.scss';
@import "_blocks/button.scss";
@import "_blocks/header.scss";
@import "_blocks/intro.scss";
@import "_blocks/places.scss";
@import "_blocks/info.scss";
@import "_blocks/review.scss";
@import "_blocks/preview-name.scss";
@import "_blocks/price.scss";
@import "_blocks/info-price.scss";
@import "_blocks/contact.scss";



.head {
  height: 100%;
}

.body {
  display: grid;
  align-content: start;
  min-height: 100%;
  min-width: 320px;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: $body-background-color;
}


.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  max-width: 100%;
  height: auto;
  @include for-size (phone-only) {
    max-width: 50%;
  }
}

.br-phone-only {
  @include for-size(tablet) {
    display: none;
  }
}
