$body-background-color: #ffffff;

$accent-primary-color: #FE7865;
$hover-accent-color: #F17D4B;
$darkest-darkest-color: #141517;
$darkest-color: #2C2E3F;

$header-nav-link-color: #48494D;
$header-nav-link-background: #FBF8F8;
