$body-background-color: #ffffff;

$accent-primary-color: #FE7865;
$hover-accent-color: #F17D4B;
$darkest-darkest-color: #141517;
$darkest-color: #2C2E3F;

$header-nav-link-color: #48494D;
$header-nav-link-background: #FBF8F8;

$places-text-color: rgba(44, 46, 63, 0.7);

$info-nav-button-color: rgba(44, 46, 63, 0.3);
$info-text-color: rgba(44, 46, 63, 0.7);
$info-nav-border: rgba(44, 46, 63, 0.3);

$review-text-color: rgba(44, 46, 63, 0.7);

$info-price-text-color: rgba(44, 46, 63, 0.7);

$contact-tel-color: #000000;

$border-price-color: rgba(44, 46, 63, 0.3);

$feedback-data-input-border-color: rgba(44, 46, 63, 0.3);
$travel-list-item-color: rgba(20, 21, 23, 0.5);

$footer-border-color: #D7D9DF;
